# docker-compose.yaml configuration variables

# OP_EXPORTER_HOST=127.0.0.1
# OP_EXPORTER_PORT=9999
OP_SERVICE_ACCOUNT_TOKEN="ops_ey..."

# PROMETHEUS_HOST=127.0.0.1
# PROMETHEUS_PORT=9090

# GRAFANA_HOST=127.0.0.1
# GRAFANA_PORT=3000
